page-single{

  .scroll-content{
    background-color: #fff;
}

.content p{
  font-size: 18px;
  padding-top:5px;
  color: black;
  line-height: 1.7;

}
.content p iframe{

  max-width: 100% !important;
  height: auto !important;
}
.card-title{
  margin-left: 0;
}

}